.range_search{
    float:right;
}
div.dt-buttons{
    float: none;
    position:relative;
    width: 25%;
    margin: 0 auto; 
}
/*tfoot {
    display: table-header-group;
}*/

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}